:root {
  --text-color: #171C27;
  --bg-color: white;
  --primary-color: #0095DF;
  --secondary-color: #EAF1F8;
}

.dark-theme {
  --text-color: white;
  --bg-color: #141C29;
  --primary-color: #0088CC;;
  --secondary-color: #2C364C;
}
